<!DOCTYPE html>
<html>
  <head>
    <title>PostsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag "free_megaphone.png" %>
        <p class='header-title'>Posts</p>
    </header>

    <%= yield %>
    <footer>
      <p class="copyright">Copyright ©posts All RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
